<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" class="container">
        <input type="text" v-model="restaurantCode">
        <button v-on:click="getOrders()">Buscar pedidos</button>
        <ul>
            <li v-for="order in ordersList" class="order-card">
                <div class="order">
                    <span><strong>Code:</strong> {{ order.code }}</span>
                    <span><strong>Status:</strong> {{ order.status }}</span>
                    <button v-on:click="getOrderDetails(order.code)">Detalhes</button>
                </div>
                    <div v-if="orderDetails.code === order.code" class="order-details">
                    <ul>
                        <li v-for="order_offering in orderDetails.order_offerings">
                            <p><strong>Item:</strong> {{ order_offering.offering.offerable.name }}</p>
                            <p><strong>Descrição:</strong> {{ order_offering.offering.offerable.description }}</p>
                            <p><strong>Quantidade:</strong> {{ order_offering.quantity }}</p>
                            <p v-if="order_offering.comment"><strong>Comentário:</strong> {{ order_offering.comment }}</p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>